#header{display: flex;align-items: center;justify-content: space-evenly;}
#content-folio{border: 1px solid black;}
#content-fecha{border: 1px solid black;margin-top:20px;}
#text-titulos{background-color: #D9D9D9;border-bottom: 1px solid black;font-weight: 700;text-align: center;}
#content-info{display: flex;border: 1px solid black;}
#content-cliente{border-right: 1px solid black;width: 60%;}
#content-destino{width: 40%;}
#content-formaPago{border-right: 1px solid black;width: 30%;}
#content-plazo{border-right: 1px solid black;width: 30%;}

