<div style="min-width:900px">

    <div class="d-flex justify-content-between">
      <h1>Nuevo producto</h1>
      <a href="#" routerLink="/dashboard" class="btn btn-primaryt">Regresar</a>
    </div>
  
    <hr/>
  
      <form [formGroup]="form" (ngSubmit)="submit()">
  
          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="title">Producto:</label>
                <input
                  formControlName="producto"
                  id="producto"
                  type="text"
                  class="form-control">
                <div *ngIf="f.producto.touched && f.producto.invalid" class="alert alert-danger">
                    <div *ngIf="f.producto.errors.required">*Producto is required.</div>
                   <!-- <div *ngIf="f.producto.errors.pattern">*The name must only contain letters.</div> -->
                </div>
              </div>
          </div>
  
          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="capacidad">Capacidad:</label>
                <input
                  formControlName="capacidad"
                  id="capacidad"
                  type="number"
                  class="form-control">
                <div *ngIf="f.capacidad.touched && f.capacidad.invalid" class="alert alert-danger">
                    <div *ngIf="f.capacidad.errors.required">*Capacidad is required.</div>
                  <!-- <div *ngIf="f.capacidad.errors.email">*The email must be a valid email address.</div> -->
                </div>
              </div>
          </div>
  
          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="descripcion">Descripción:</label>
                <input
                  formControlName="descripcion"
                  id="descripcion"
                  type="text"
                  class="form-control">
                <div *ngIf="f.descripcion.touched && f.descripcion.invalid" class="alert alert-danger">
                    <div *ngIf="f.descripcion.errors.required">*Descripción is required.</div>
                  <!-- <div *ngIf="f.descripcion.errors.pattern">*The phone must only contain numbers.</div> -->
                </div>
              </div>
          </div>
  
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
      </form>
  </div>
  